<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>答神 - 上答神找大神</title>
<meta name="author" content="seven">
<meta name="Keywords" content="">
<meta name="description" content="">
<link rel="icon" href="./favicon.ico">

<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/index/iconfont.css">
<link rel="stylesheet" type="text/css" href="css/index/index.css">
</head>

<body id="app">
    <!-- header -->
	<div id="header">
    	<!-- search -->
    	<div class="search">
            <!-- default search -->
            <div class="toolbar_index">
                <div class="location_tb_index">
                    <span class="txt_location_tbi">全站</span>
                    <span class="icon_location_tbi"></span>
                </div>
                <div class="search_tb_index">
                    <input type="text" class="input_search_tbi" placeholder="标题 / 地点 / 发起人" readonly>
                    <div class="icon_search_tbi"></div>
                </div>
                <div class="post_tb_index">
                    <span class="icon_post_tbi"></span>
                    <span class="txt_post_tbi"><a href="./post.html" class="ask">提问</a></span>
                </div>
            </div>
            <!-- /default search -->

            <!-- focus search , hide-->
            <div class="toolbar_realSearch " style="margin-top: 0px;">
                <div class="icon_return_trs"></div>
                <div class="box_search_trs">
                    <div class="txt_search_trs">全站</div>
                    <input class="search_trs" placeholder="搜索标题 / 地点 / 发起人" />
                </div>
                <div class="icon_search_trs"></div>
            </div>
            <!-- /focus search -->

            <!-- category show -->
            <div class="shadeScreen"></div>
            <div class="city_select_pop">
                <div class="header">
                    <div class="leaf_city_sp selected">全站</div>
                    <div class="leaf_city_sp">开发语言</div>
                    <div class="leaf_city_sp">前端开发</div>
                    <div class="leaf_city_sp">PHP 开发</div>
                    <div class="leaf_city_sp">数据库</div>
                </div>
                <div class="content">
                    <a href="/t/ios" class="tag" >ios</a>
                    <a href="/t/ios" class="tag" >ios</a>
                    <a href="/t/ios" class="tag" >ios</a>
                    <a href="/t/ios" class="tag" >ios</a>
                    <a href="/t/ios" class="tag" >ios</a>
                </div>
            </div>
            <!-- /category -->
        </div>
    	<!-- /search -->
    	<div class="nav">
        	<div class="nav-left"><a href="./index.html"><span></span></a></div>
        	<div class="nav-right">
            	<span class="tip"><a href="" class="tips">
                	<i class="icon iconfont">&#xe69a;</i>
                    <span class="num">1</span>
                </a></span>
            	<a href="./login.html" class="user">
                	<!--
                    登录成功
                    <img src="img/avatar.jpg" alt="昵称" title="昵称" />
                    -->
                    <i class="icon iconfont">&#xe602;</i>
                </a>
            </div>
        </div>
    </div>
    <!-- /header -->

    <!-- container -->
	<div id="container" class="clearfix">
    	<!-- list -->
    	<div class="list">
        	<!-- search-nav -->
            <div class="search-nav">
                <a href="问答广场" class="selected">问答广场</a>
                <a href="问答广场">热门</a>
                <a href="问答广场">未答</a>
                <a href="问答广场">关注</a>
            </div>
        	<!-- search-nav -->
        	<div class="box">
            	<!-- question -->
                <div class="question clearfix" v-for="item in list">
                	<div class="q-img fl">
                    	<img :src="item.picture" />
                    </div>
                	<div class="c fl">
                        <div class="title"><a href="./detail.html">{{ item.title }}</a></div>
                        <div class="tag-time">
                            <a class="tag" v-for="i in item.tag">{{ i }}</a>
                            <span class="time">&middot;&nbsp;&nbsp;
                            <i class="icon iconfont">&#xe662;</i>2小时前</span>
                        </div>
                        <div class="user-question-info">
                            <img :src="item.avatar" />
                            <span class="nickname"><a href="./user.html">{{ item.author }}</a></span>
                            <span class="pv"><i class="icon iconfont">&#xe65e;</i>{{ item.watcher }}</span>
                            <span class="ask"><i class="icon iconfont">&#xe607;</i>{{ item.reply }}</span>
                        </div>
                    </div>
                </div>
            </div><!-- /box -->
            <!-- page -->
			<div id="pager"><div class="more">更多&gt;</div></div>
            <!-- /page -->
        </div>
    	<!-- /list -->
    	<!-- other -->
    	<div class="other">
        	<!-- 个人侧边栏 -->
        	<div class="my-messages">
                <a href="####">个人中心</a>
                <a href="####">我的提问</a>
                <a href="####">我的回答</a>
                <a href="####">我的收藏</a>
            </div>
            <!-- /个人-->
            <!-- 排行榜 -->
            <div class="pk-box">
                <h2>排行榜
                	<span>
                    	<a href="javascript:void(0);" class="today selected">今天</a>&middot;
                        <a href="javascript:void(0);" class="week">本周</a>
                    </span>
                </h2>
                <!-- today -->
                <ol class="today">
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">实打实地方</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                </ol><!-- /today -->
                <!-- week -->
                <ol class="week hide">
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                    <li>
                        <img src="./img/avatar2.png">
                        <a href="#####">xialeistudio</a>
                        <span class="num">+95</span>
                    </li>
                </ol><!-- /week -->
            </div>
            <!-- /排行榜 -->
            <!-- about -->
            <div class="about" >
                <div class="about1">
                    <a href="javascript:void(0);" class="android" title="Android"></a>
                    <a href="javascript:void(0);" class="ios" title="iPhone"></a>
                </div>
                <div class="about2">
                    <img src="https://static.oschina.net/uploads/space/2013/0304/160442_8Fw6_179699.png" title="答神微信二维码">
                </div>
            </div>
            <!-- /about -->
        </div>
    	<!-- /other -->

    	<!-- 手机侧边栏显示 -->
    	<div id="m-menu" class="other">
        	<div class="my-messages">
                <a href="####">个人中心</a>
                <a href="####">我的提问</a>
                <a href="####">我的回答</a>
                <a href="####">我的收藏</a>
            </div>
            <div class="about" >
                <div class="about1">
                    <a href="javascript:void(0);" class="android" title="Android"></a>
                    <a href="javascript:void(0);" class="ios" title="iPhone"></a>
                </div>
                <div class="about2">
                    <img src="https://static.oschina.net/uploads/space/2013/0304/160442_8Fw6_179699.png" title="答神微信二维码">
                </div>
            </div>
        </div>
    	<!-- /手机侧边栏显示 -->
    </div>
    <!-- /container -->

    <!-- footer -->
    <div id="footer">
        <div class="copyright">
        	Copyright &copy; 2011-2016 答神网<br>
            <a href="http://www.miibeian.gov.cn/" rel="nofollow">沪ICP备 11235796号-2</a>
        </div>
    </div>
    <!-- /footer -->
    <div id="side">
        <i class="icon iconfont menu">&#xe600;</i>
        <i class="icon iconfont back">&#xe61b;</i>
    </div>

    <script src="js/vue.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/index.js"></script>
	<script src="./js/animatebg.js"></script>
</body>
</html>
